body {
	/*font-family: 'Gaegu';*/
	/*font-family: 'Indie Flower';*/
	/*font-family: 'Architects Daughter';*/
	font-family: sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
	margin-bottom: -15px;
}

h2 {
	margin-bottom: 5px;
}

.image {
	display: block;
	margin: auto;
	width: 50%;
}

.image img {
    -webkit-box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
}

/*svg {
	-webkit-box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 15px 52px -7px rgba(0,0,0,0.75);
}*/

.comment {
	width: 33%;
	display: inline-block;
}

.providers {
	margin: auto;
	padding: 10px;
	width: 25%;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 33%;
  margin-right: 33%;
  border-style: inset;
  border-width: 1px;
} 

table {

    width: 20%;
    margin: 0 auto; /* same as margin: 0 25%;  */

}

.disabled {
	color: lightgray;
}

.miniscule {
	font-size: 0.42em;
}
